/*全体共通
-----------------*/
body{
	font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	line-height: 1.75;
	font-size: 16px;
}

/*パディングをサイズ内側にする処理*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.text-center{
	text-align: center;
}

.pc-attention{
    color: rgb(243,74,69);
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 640px) {

/*----------------
index.html
-----------------*/

.pc-attention{
    display: none;
}

/*header*/
.header-wrapper{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
}

.header-logo{
    width: 300px;
}

/*main*/
.intro-wrapper{
    margin: 110px 0 0;
    background-image:url(../img/topkv.jpg);
    width: 100%;
    height: 600px;
    padding:0 10px; 
    background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.intro-btn{
    cursor: pointer;
    width: 300px;
    margin: 10px;
    padding: 12px 0;
    text-align: center;
    background-color: rgb(45,144,288);
    box-shadow: 0px 4px rgb(1,105,140);
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.for-ans-btn{
  display:none;
}

.btn-active {
  display:block;
}

/*footer*/
.footer-wrapper{
    margin:20px 0 0;
	font-size: 12px;
    padding: 10px 0;
    color: #fff;
    background-color: #707070;
}


/*----------------
index2.html
-----------------*/

.option1, .option2, .option3, .option4, .option5, .option6, .option7, .option8, .option9, .option10{
  display:none;
}

.active {
  display:block;
}

.option-wrapper{
    margin: 110px 0 60px;
}

.choice-wrapper{
    display: flex;
	align-items: center;
	flex-direction: column;
}

.man-title{
    color:rgb(1,105,140);
    font-size: 30px;
    font-weight: bold;
}

.woman-title{
    color:rgb(243,74,69);
    font-size: 30px;
    font-weight: bold;
}

.q-title{
    font-size: 20px;
}

.btn-wrapper{
	text-align: center;
    width: 90%;
}

.choice-btn {
  cursor: pointer;
  margin: 20px;
  padding: 12px 0;
  background-color: rgb(45,144,288);
  box-shadow: 0px 4px rgb(1,105,140);
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.choice-btn-woman {
  cursor: pointer;
  margin: 20px;
  padding: 12px 0;
  background-color: rgb(255,202,0);
  box-shadow: 0px 4px #888800;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.ans-text{
    margin: 30px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.save-btn {
  cursor: pointer;
  width: 90%;
  margin: 10px;
  padding: 12px 0;
  text-align: center;
  background-color: rgb(243,74,69);
  box-shadow: 0px 4px #880000;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}








/*----------------
index3.html
-----------------*/

.slide-option1,.slide-option2, .slide-option3, .slide-option4{
  display:none;
}

.slide-active {
  display:block;
}

.about-wrapper{
    margin: 110px 0 60px;
}

.slide-wrapper{
    margin: 0 5px;
    display: flex;
	align-items: center;
	flex-direction: column;
}

.slide{
    width: 100%;
}

.slide-title{
    font-size: 24px;
    font-weight: bold;
}

.slide img{
    width: 95%;
}

.slide-text{
    margin: 5px 15px;
}

.next-btn{
    cursor: pointer;
    width: 90%;
    margin: 10px;
    padding: 12px 0;
    text-align: center;
  background-color: rgb(255,202,0);
  box-shadow: 0px 4px #888800;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.slide-text span{
    font-weight: bold;
    background-color: rgb(255,202,0, 0.5); 
}









/*----------------
index4.html
-----------------*/

.ans-wrapper{
    margin: 110px 0 0;
        display: flex;
    align-items: center;
    flex-direction: column;
}

.ans-kaji{
    font-size: 24px;
    font-weight: bold;
}

.ans-title{
    margin: 10px 0;
    width: 90%;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.ans-title .box-title{
    font-size: 16px;
    background: rgb(1,105,140);
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

.ans-title .box-ans{
    padding: 5px 20px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.memo-title{
    font-size: 16px;
    background: rgb(1,105,140);
    margin: 10px 0 0;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    width: 90%;
}

.box-memo{
    width: 90%;
    height: 100px;
}

.memo-save-btn{
  cursor: pointer;
  width: 90%;
  margin: 10px 0 0;
  padding: 12px 0;
  text-align: center;
  background-color: rgb(255,202,0);
  box-shadow: 0px 4px #888800;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.memo-clear-btn{
  cursor: pointer;
  width: 90%;
  margin: 10px 0 0;
  padding: 12px 0;
  text-align: center;
  background-color: #555555;
  box-shadow: 0px 4px #222222;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.top-btn{
    cursor: pointer;
  width: 90%;
  margin: 20px;
  padding: 12px 0;
  text-align: center;
  background-color: #222222;
  box-shadow: 0px 4px #111111;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

}